@import "support";

$base-font ?= sans-serif;
$base-font-weight ?= normal;
$base-font-size ?= 14px;
$base-font-color ?= #000;
$base-line-height ?= 20px;

$base-font-scale-factor ?= 1.618;




line-numbers($fs = $base-font-size, $lh = $base-line-height) {
	ceil($fs / $lh);
}
establish-baseline($fs = $base-font-size, $lh = $base-line-height) {
	$lines = line-numbers($fs, $lh);
	line-height: em($lh * $lines, $fs);
	if ($lines > 1) {
		margin: em($lh * 2, $fs) 0 em($lh, $fs);
	} else {
		margin: em($lh, $fs) 0;
	}
}
baseline($fs = $base-font-size, $lh = $base-line-height) {
	font-size: em($fs);
	establish-baseline($fs, $lh);
}

vertical-rhythm($fs = $base-font-size, $lh = $base-line-height) {
	html {
		font: $base-font-weight $fs $base-font;
		color: $base-font-color;
		line-height: em($lh);
	}
	p {
		baseline();
	}
	for $h in 4..1 {
		if ($hsize is defined) {
			$hsize = round($hsize * $base-font-scale-factor);
		} else {
			$hsize = $fs;
		}
		h{$h} {
			baseline($hsize);
		}
	}
}




