

$column-class = "c";
$gutter-class = "s";
$layout-width = 1180px;
$layout-gutter = 20px;
/*$layout-gutter = 8;*/

$base-font = "Source Sans Pro", sans-serif;

@import "layout"

grid()

h1, h2, h3, h4, h5, h5 {
	font-weight: 100;
}

.content
	column(8)

.sidebar
	column(3, 1)

.wide {
	background: powderblue;
}

.bg
	background #ccc
	display block
	margin-bottom 10px

	[class*="c-"], .sidebar, .content
		background #999
		height 30px
		[class*="c-"]
			background #666
			[class*="c-"]
				background #333